body{
    font-family: 'Roboto', sans-serif;

}
header{
    height: 92px;
    width: 414px;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #CF2B2B;
}
header h1{
    font-size: 44px;
    font-weight: 400;
    color:#FFFFFF;
    margin-left: 21px;
    margin-top: 8px;
    font-family: 'Righteous', cursive;

    
}
header h2{
    font-size: 18px;
    font-weight: 400;
    color:#FFFFFF;
    margin-left: 21px;
    margin-top: 5px;
}